<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Submission Form with Prefix</title>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>
    <h1>Submit Your Text</h1>
    <form id="textForm">
        <label for="userText">Enter your user name:</label>
        <input type="text" id="userText" name="userText" required>
        <button type="submit">Submit</button>
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        document.getElementById('textForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const prefix = "Prefix: ";
            const userText = document.getElementById('userText').value;
            const userData = { userId: '{{ userText }}' };
            <!-- socket.emit('sail_lobby_connect', userData); -->
            socket.emit('sail_lobby_connect', userText);
        });

        socket.on('text-received', function(message) {
            alert(message);
        });
    </script>

</body>
</html>
